/* Custom CSS for Streamlit App */
body {
    font-family: Arial, sans-serif;
}

.stApp {
    background-color: #191414; /* Spotify's dark background color */
}

header {
    color: #1DB954; /* Spotify's green color */
}

footer {
    text-align: center;
    padding: 20px;
    color: #1DB954; /* Spotify's green color */
}

/* Additional Streamlit keys */
.stButton > button {
    background-color: #1DB954; /* Spotify's green color */
    color: #FFFFFF; /* White text */
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.stTextInput > div > input {
    background-color: #282828; /* Darker background for input fields */
    color: #FFFFFF; /* White text */
    border: 1px solid #1DB954; /* Green border */
    border-radius: 5px;
    padding: 10px;
}

.stMarkdown {
    color: #FFFFFF; /* White text for markdown content */
}

.stSidebar {
    background-color: #1DB954; /* Spotify's green color */
    color: #FFFFFF; /* White text */
    width: 250px; /* Adjust sidebar width */
}

.stSidebar .stButton > button {
    background-color: #1DB954; /* Spotify's green color */
    color: #FFFFFF; /* White text */
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
